# Environment files
.env
**/.env

# Python
__pycache__/
*.py[cod]
venv/
**/venv/

# Node
node_modules/
dist/

# ML models
*.h5

# Python artifacts
*.sav

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
**/venv/